<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='/static/jquery-1.11.3.js'></script>
</head>
<body>
    <div><h2>xxx同学的成绩单</h2></div>
    <div>得分:20.0分</div>
    <div>耗时:43s</div>
    <div>答对题数:2</div>
    <div>答错题数:8</div>
    <div>当前排名 第1名</div>
</body>
    <script>
        var u_id = window.localStorage.getItem(quiz_uid)
        $.ajax({
            url: `http://127.0.0.1:8000/quiz/score?u_id=${u_id}&quiz_id={}`,
            type: 'get',
            contentType: 'application/json',
            dataType:'json',
            success:function(res){
                if(res.code==200){
                    var html=""
                    html +=`<div><h2>${res.data.username}同学的成绩单</h2></div>
                            <div>得分:${res.data.score}分</div>
                            <div>耗时:${res.data.quiz_time}</div>
                            <div>答对题数:${res.data.correct}</div>
                            <div>答错题数:${res.data.mistake}</div>
                            <div>当前排名 ${res.data.rank}</div>`
                    $(body).append(html)
                }else{
                    alert(res.error)
                }
                
            }
        })
    </script>
</html>